.rights{
 padding:21px 0;
  a{
      margin-right: 20px;
  }
  span{
      font-size: 14px;
  }
}

.footer_menu{
    font-size:20px;
    line-height:24px;
    margin-left:36px;
    padding: 28px 0;  
}

@media (max-width: 767px) {
    .rights{

    span{
        font-size: 13.5px;
    }
}
    .footer_menu{
        font-size:14px;
        line-height:16px;
       
}}