.rights{
 padding:21px 0;

  span{
      font-size: 14px;
  }
}

.footer_menu{
    font-size:20px;
    line-height:24px;
}

@media (max-width: 767px) {
    .rights{

    span{
        font-size: 13.5px;
    }
}
    .footer_menu{
        font-size:14px;
        line-height:16px;
       
}}