.mbspace36 {
  margin-bottom: 36px;
}
.mbspace28 {
  margin-bottom: 28px;
}

.pdspace {
  padding-bottom: 82px;
  padding-top: 80px;
}

@media (max-width: 767px) {
  .pdspace {
    padding-top: 40px;
    padding-bottom: 106px;
  }
}
