body{
    font-family: 'Noto Sans TC', sans-serif;
}

.logo {
  background-image: url("../img/navbar/d’Perfume.png");
  text-indent: 101%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  width: 128px;
  height: 38px;
  margin: 9px 0;
 
}

.nv_menu_item {
  color: $gray8D;
  display: flex;
  align-items: baseline;
  &:hover {
    color: black;
  }
}

.shoppingcart_icon{
    position:relative;
    span{
        position:absolute;
        background-color: $dbrown;
        color:white;
        border-radius: 7px;
        font-size: 12px;
        width: 16px;
        height: 13px;
        left:15px;
        text-align: center;
        line-height:13px;
    }
}
.bars{
   padding:14px 20px;
  }

.bars_menu{
    width:100%;
    background:$gray70;
    text-align:center;
    position:absolute;
    z-index: 1;
    a:hover{
       background:$gray8D;
    }
}