
.pagemenu{
    text-decoration:none;
    a{
        margin:0 10px;
        color:black;
    }
    a:hover{
        color:$lbrown;
        text-decoration:underline;
    } 
}


@media (max-width: 767px){

    h4{
        font-size:20px;
    }

}